/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: Helvetica, Arial, sans-serif;
}

form div.field, .actions{
  margin-bottom: 20px;
}

form div.field label{
  display: block;
  margin-bottom: 5px;
}

.project {
  border: 1px black dashed;
  margin-top: 20px;
}

.project img {
  width: 50%;
  height: auto;
}

.progress-bar {
  height: 10px;
  width: 200px;
  border: 1px solid black;
  border-radius: 3px;
  display: block;
  margin-bottom: 50px;
}

.progress {
  height: 10px;
  background: lightgreen;
}